.navbar {
	background-color: #333;
	overflow: hidden;
	padding: 10px;
	width: 100%;
	height: 100%;
	position: relative;
	left: -12px;
	bottom: 10px;
     }

.navbar a {
	float: left;
	color: #4CAF50;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a:active {
	background-color: #776b36;
	color: white;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}


.container {
	padding: 10px 18px;
}

.container-main {
	display: inline-grid;
	padding: 10px 18px;
}

.photo-card {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}


/* Tables */
table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 15px;
	text-align: left;
}

tr:nth-child(even) {background-color: #e0e0e0;}
th {
	background-color: #4CAF50;
	color:white;
}
